doctype html
html
  head

    link(rel="stylesheet", href="/npb-pdfjs-example/demo/helloworld/style.css")
  body

    canvas#the-canvas

    // In production, only one script (pdf.js) is necessary
    // In production, change the content of PDFJS.workerSrc below
    script(src="/npb-pdfjs-example/scripts/pdf.js")
    script(src="/npb-pdfjs-example/demo/helloworld/script.js")
