doctype html
html

  head
    meta(charset="UTF-8")
    title Previous/Next example
    link(rel="stylesheet", href="/npb-pdfjs-example/demo/learning/style.css")

  body

    h1 "Previous/Next" example

    div
      button#prev Previous
      button#next Next

      span
        | Page:
        span#page_num
        | /
        span#page_count

    div
      canvas#the-canvas

    // for legacy browsers add compatibility.js
    //script(src="/scripts/components/compatibility.js")
    script(src="/npb-pdfjs-example/scripts/pdf.js")

    script(src="/npb-pdfjs-example/demo/learning/prevnext.js")
