doctype html
html
  head
    link(rel='stylesheet', href='/demo/acroforms/style.css', type='text/css')

  body
    #viewer

    // In production, only one script (pdf.js) is necessary
    // In production, change the content of PDFJS.workerSrc below
    script(src="/scripts/pdf.js")

    script(src="/demo/acroforms/script.js")
    script(src="/demo/acroforms/forms.js")
