doctype html
html
  head
    title Text-only PDF.js example
    link(rel="stylesheet", href="/demo/text-only/style.css")
  body

    p Text-only PDF.js example

    #pageContainer

    script(src="/scripts/pdf.js")
    script(src="/demo/text-only/script.js")
