doctype html
html
  head
    title SVG Viewer Example
    link(rel="stylesheet", href="/npb-pdfjs-example/demo/svgviewer/style.css")
  body
    // In production, only one script (pdf.js) is necessary
    // In production, change the content of PDFJS.workerSrc below
    script(src="/npb-pdfjs-example/scripts/pdf.js")
    script(src="/npb-pdfjs-example/demo/svgviewer/script.js")
