doctype html
html
  head
    title SVG Viewer Example
    link(rel="stylesheet", href="./style.css")
  body
    // In production, only one script (pdf.js) is necessary
    // In production, change the content of PDFJS.workerSrc below
    script(src="../../scripts/pdf.js")
    script(src="./script.js")
